@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/SourceSansPro-Regular.ttf');
}

.navbar-custom {
    background-color: #98C1D9;
    font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.icon-white {
    color:white;
}

a.nav-link{
    letter-spacing: 0.25rem;
}

.input-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.input-field {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.no-display{
    display:none;
}

.submit-reminder{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: red;
}

.create {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.3;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.3;
}
