@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/SourceSansPro-Regular.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

.card{
    width: 80rem;
    margin: 3rem;
}

.navbar-custom {
    background-color: #98C1D9;
    font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.icon-white {
    color:white;
}

.icon-blue{
    color:#98C1D9;
}

a.nav-link{
    letter-spacing: 0.25rem;
}

.input-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.input-field {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.no-display{
    display:none;
}

.submit-reminder{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: #EE6C4D;
    font-size: small;
}

.is-invalid span{
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
    font-style: italic;
    font-size: small;
    display: block;
    line-height: 1rem;
    margin-top: 0.5rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.3;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.3;
}

.form-control{
    border-radius: 82px !important;
}

button.btn, button.btn:hover, button.btn:active,
button.btn:active:focus{
    font-family: 'Poppins';
    background-color: #3d5a80;
    border-color: #3d5a80;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

.modal-header{
    background-color:#98C1D9;
}

#registerModalLabel{
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
}


