table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}

td, th {
  vertical-align: middle;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: 'Arial Narrow';
  font-size: 11pt;
  background-color: white;
  width: 20pt !important;
}

td.outerside, th.outerside {
  border-bottom: 2px solid #000000 !important;
  border-left: 2px solid #000000 !important;
  border-right: 2px solid #000000 !important;
  border-top: 2px solid #000000 !important;

}

td.num {
width: 30px !important;
height: 25px !important;
}

td.num1 {
width: 30px !important;
height: 40px !important;
}

td.num2 {
width: 30px !important;
height: 30px !important;
}

td.header {
text-align: center;
font-weight: bold;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB {
text-align: left;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB2 {
text-align: left;
border-bottom: none solid #000000 !important;
border-left: none solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: none solid #000000 !important;
}

td.headerB3 {
text-align: left;
border-bottom: none solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: none solid #000000 !important;
}

td.headerB4 {
text-align: left;
border-bottom: none solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB5 {
text-align: left;
border-bottom: 2px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB6 {
text-align: left;
border-bottom: 2px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB7 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB8 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB9 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB10 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB11 {
text-align: left;
border-bottom: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB12 {
text-align: right;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB13 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB14 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB15 {
text-align: left;
border-bottom: 1px solid #000000 !important;
border-left: none solid #000000 !important;
border-right: none solid #000000 !important;
border-top: none solid #000000 !important;
}

td.headerB16 {
text-align: left;
border-bottom: none solid #000000 !important;
border-left: none solid #000000 !important;
border-right: none solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB17 {
text-align: left;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB18 {
border-top: 2px solid #000000 !important;
}

td.headerB19 {
border-bottom: 2px solid #000000 !important;
}

td.headerB20 {
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
}

td.headerB21 {
border-bottom: 1px solid #000000 !important;
border-left: 1px solid #000000 !important;
border-right: 1px solid #000000 !important;
border-top: 1px solid #000000 !important;
}

td.headerB22 {
border-bottom: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.headerB23 {
border-top: 2px solid #000000 !important;
}


td.underline {
border-bottom: 1px solid #000000 !important;
}

td.underlineT {
border-top: 1px solid #000000 !important;
}


td.headersub {
text-align: center;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
border-top: 2px solid #000000 !important;
}

td.borderL {
border-left: 2px solid #000000 !important;  
}

td.borderLR {
border-left: 2px solid #000000 !important; 
border-right: 2px solid #000000 !important;  
}

td.borderB {
border-bottom: 2px solid #000000 !important;  
}

td.borderLRB {
text-align: center;
font-weight: bold;
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
border-right: 2px solid #000000 !important;
}

td.borderLB {
border-bottom: 2px solid #000000 !important;
border-left: 2px solid #000000 !important;
}

td.right {
text-align: right;
font-size: 14pt;
border-right: 1px solid #000000 !important;
}

td.left {
border-left: 1px solid #000000 !important;
}

td.top {
border-top: 1px solid #000000 !important;
}

td.bottom {
border-bottom: 1px solid #000000 !important;
}


td.right2 {
text-align: right;

}

table td.crossed
{
 background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), silver, transparent calc(50% + 1px)); 
}

tr.noBorder td {
border: 0;
border-style: hidden;
}

td.noBorder {
border: 0;
border-style: hidden;
}

tr.noBorderheader td {
border: 0;
border-style: hidden;
}

tr.noBorderTLR {
border: 0;
border-style: hidden;
border-bottom: 1pt solid black;
}

tr.noBorderLR {
border: 0;
border-left: none solid #000000 !important;
border-right: none solid #000000 !important;
}

td.noBorderLR {
border: 0;
border-top: 2px solid #000000 !important;
border-bottom: 2px solid #000000 !important;
}

tr.noBorderLRB {
border: 0;
border-style: hidden;
border-top: 2pt solid black;
border-right: 0;
border-left: 0;
}

td.noBorderTL {
border-top-style: hidden;
border-top-style: hidden;

}

td.noBorderTB {
border: 0;
border-style: hidden;
border-left: 1pt solid black;
border-right: 1pt solid black;
}

td.noBorderTLB {
border-right: 1pt solid black;
}

td.border {
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;
}

tr.form2header {
font-family:'Arial Narrow';
text-align: center;
font-weight: bold;
font-size: 22pt;
}

tr.headergap {
height: 10px;
border-left: none;
border-right: none;
}

tr.form2subheader {
font-family:'Arial Narrow';
text-align: center;
font-size: 12pt; 
font-style: italic;
}

tr.hide_right > td, td.hide_right{
border-right-style:hidden;
}
tr.hide_all > td, td.hide_all{
border-style:hidden;
}